.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box img {
    height: 300px;
    object-fit: cover;
}
@media only screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
}
@media only screen and (max-width: 450px)
{
    .change_produs {
        width:300px;
    }
}